.header {
     background: linear-gradient(to bottom, rgb(255, 168, 81), rgb(255, 167, 81, 0.0));
    
}
.title {
  font-family: "Fasthand", cursive;
  font-size: 50px;
  text-align: center;
}