.header {
  background: linear-gradient(
    to bottom,
    rgb(255, 168, 81),
    rgb(255, 167, 81, 0)
  );
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__label {
    display: flex;
    align-items: center;
  }
  &__input {
    padding: 5px;
    color: brown;
    border-radius: 5px;
    border: none;
  }
}
.title {
  font-family: "Fasthand", cursive;
  font-size: 50px;
  text-align: center;
}
.logout {
  margin-left: 30px;
  font-size: 10px;
  border: none;
  color: white;
  background-color: black;
  padding: 5px 7px;
  border-radius: 0 10px 10px 10px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.2s ease-in-out 0s;
  &:hover {
    transform: scale(1.25);
    background-color: black;
    opacity: 1;
  }
}

// .header__label {
//   position: relative;
// }
// .header__label .search {
//   position: absolute;
//   padding: 10px;
//   pointer-events: none;
//   z-index: 1000;
// }
// .left .search {
//   left: 0px;
// }

// .left input {
//   padding-left: 30px;
// }

