.post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.link {
  width: 230px;
  min-height: 200px;
}
.flip-card {
  display: flex;
  background-color: transparent;
  width: 230px;
  min-height: 230px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  min-height: 230px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
}

.flip-card-front {
  background-image: url("../assets/images/vintage-floral-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.flip-card-back {
  background-image: url("../assets/images/floreal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  transform: rotateY(180deg);
  height: inherit;
  word-break: break-word;
  cursor: pointer;
}
.post-card__body {
  height: 80%;
  font-style: italic;
  font-size: 12px;
  font-weight: 700;
}
